.btn-1{
    background-color: aqua;
}
.btn-2{
    background-color: red;
}
.btn-3{
    background-color: antiquewhite;
}
.btn-4{
    background-color: burlywood;
}
.btn-5{
    background-color: darkgoldenrod;
}
#index{
    background-color: blue;
}
#back1{
    float: right;
    background-color: black;
    color: white;
}
.common{
    color:white;
}